In [56]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

start_date = datetime(2000, 1, 1)
delta = datetime.today() - start_date
df = pd.DataFrame(
    {
        'dateStr': [str(start_date + timedelta(days=i)) for i in range(delta.days)],
        'value': np.random.randint(100, size=delta.days)
    }
)
df

                  dateStr  value
0     2000-01-01 00:00:00     90
1     2000-01-02 00:00:00     26
2     2000-01-03 00:00:00     66
3     2000-01-04 00:00:00     28
4     2000-01-05 00:00:00     27
...                   ...    ...
8333  2022-10-25 00:00:00     28
8334  2022-10-26 00:00:00     85
8335  2022-10-27 00:00:00     46
8336  2022-10-28 00:00:00     90
8337  2022-10-29 00:00:00     15

[8338 rows x 2 columns]

In [71]:
def get_day_of_week(to_parse: str):
    return datetime.strptime(to_parse, '%Y-%m-%d %H:%M:%S').strftime('%A')

In [77]:
def convert_date_iterrows(df) -> None:
    df['weekday'] = ''
    for idx, row in df.iterrows():
        df.loc[idx, 'weekday'] = get_day_of_week(row['dateStr'])


%timeit -r 10 -n 1 convert_date_iterrows(df)

2.38 s ± 114 ms per loop (mean ± std. dev. of 10 runs, 1 loop each)

In [73]:
def convert_date_to_dict(df: pd.DataFrame) -> None:
    df['weekday'] = ''
    for idx, row in enumerate(df.to_dict(orient='records')):
        df.loc[idx, 'weekday'] = get_day_of_week(row['dateStr'])


%timeit -r 10 -n 1 convert_date_to_dict(df)

1.86 s ± 18.3 ms per loop (mean ± std. dev. of 10 runs, 1 loop each)

In [74]:
def convert_date_apply(df: pd.DataFrame) -> None:
    df['weekday'] = df['dateStr'].apply(lambda x: get_day_of_week(x))

%timeit -r 10 -n 1 convert_date_apply(df)

98.2 ms ± 4.86 ms per loop (mean ± std. dev. of 10 runs, 1 loop each)

In [75]:
df['date'] = df['dateStr'].astype('datetime64[ns]')

In [76]:
def convert_date_native(df: pd.DataFrame) -> None:
    df['weekday'] = df['date'].dt.day_name()

%timeit -r 10 -n 1 convert_date_native(df)

1.81 ms ± 274 µs per loop (mean ± std. dev. of 10 runs, 1 loop each)